
services:
  proxy:
    image: nginx:stable-alpine
    ports:
      - "8001:80"
    volumes:
      - ./proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ../../laravel:/var/www/laravel
    depends_on:
      - php

  php:
    build: ./php
    volumes:
      - ../../laravel:/var/www/laravel
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    ports:
      - "3306"
    environment:
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: laravel
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - mysql_data_dev:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: password
    depends_on:
      - mysql

networks:
  laravel-network:
    driver: bridge

volumes:
  mysql_data_dev: